<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link rel="stylesheet" href="styles.css">
</head>
<%- include('./layout/nav.ejs'); -%>
    <h1>Orders</h1>
    <div class="formData">
        <table>
            <thead>
                <th>Name</th>
                <th>Email </th>
                <th>Phone </th>
                <th>Post Code</th>
                <th>Lunch</th>
                <th>=Campus</th>
                <th>=Sub Total</th>
                <th>=tax</th>
                <th>=Total</th>
            </thead>
            <tbody>
                <% orders.forEach((x)=> { %>
                    <tr>
                        <td>
                            <%= x.Name %>
                        </td>
                        <td>
                            <%= x.Email %>
                        </td>
                        <td>
                            <%= x.Phone %>
                        </td>
                        <td>
                            <%= x.PostCode %>
                        </td>
                        <td>
                            <%= x.Lunch %>
                        </td>
                        <td>
                            <%= x.Campus %>
                        </td>
                        <td>
                            <%= x.Tickets %>
                        </td>
                        <td>
                            <%= x.SubTotal %>
                        </td>
                        <td>
                            <%= x.Tax %>
                        </td>
                        <td>
                            <%= x.Total %>
                        </td>
                    </tr>
                    <% }) %>

            </tbody>
        </table>
    </div>