<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <%- include('./layout/nav.ejs'); -%>
        <h1>Orders</h1>
        <div class="formData">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Province</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>HashBrowns</th>
                        <th>Bagels</th>
                        <th>Coffee</th>
                        <th>Subtotal</th>
                        <th>Tax</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach((order)=> { %>
                        <tr>
                            <td>
                                <%= order.name %>
                            </td>
                            <td>
                                <%= order.address %>
                            </td>
                            <td>
                                <%= order.city %>
                            </td>
                            <td>
                                <%= order.province %>
                            </td>
                            <td>
                                <%= order.phone %>
                            </td>
                            <td>
                                <%= order.email %>
                            </td>
                            <td>
                                <%= order.HashBrowns %>
                            </td>
                            <td>
                                <%= order.Bagels %>
                            </td>
                            <td>
                                <%= order.Coffee %>
                            </td>
                            <td>
                                <%= order.subtotal %>
                            </td>
                            <td>
                                <%= order.tax %>
                            </td>
                            <td>
                                <%= order.total %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
</body>

</html>